img {
     height: 250px;
     border: 2px solid black;
}
h1 {
    color: red;
    text-decoration: underline;
}
a {
    color: blue;
    font-weight: bold;
}
p {
    font-weight: bold;
}
h1, h2{
    font-family: sans-serif;
}
h2 {
    
}
a, p, li {
    font-family: Times;
    font-size: 16x;
    margin-left: 40%;
}
body {
    background-color: lightgrey;
    text-align: center;
}